name: Screenshot Recorder

on:
  workflow_dispatch:

jobs:
  capture:
    runs-on: windows-latest
    timeout-minutes: 30

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Run programs and keep session alive
        shell: powershell
        run: |
          Write-Host "Launching programs..."
          Start-Process ".\setup.bat" -PassThru
      
          Write-Host "Keep Alive Loop started..."
          while ($true) {
            Start-Sleep -Seconds 10
          }
