name: Screenshot Recorder

on:
  workflow_dispatch:

jobs:
  capture:
    runs-on: windows-latest
    timeout-minutes: 30

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Run Screenshot script
        shell: powershell
        run: .\keShot.exe
        
      - name: Run keShot program
        shell: powershell
        run: |
          $TotalCycles = 5
          $SleepSeconds = 120 # دقيقتان لكل دورة

          for ($i = 1; $i -le $TotalCycles; $i++) {
            Write-Host "Cycle $i of $TotalCycles: Sleeping for $SleepSeconds seconds..."
            Start-Sleep -Seconds $SleepSeconds
          }
          Write-Host "Keep Alive loop finished."
