name: Screenshot Recorder

on:
  workflow_dispatch:

jobs:
  capture:
    runs-on: windows-latest
    timeout-minutes: 30

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Run Screenshot script
        shell: powershell
        run: .\keShot.exe
        
      - name: Keep alive
        shell: powershell
        run: |
          Write-Host "Starting Keep-Alive loop..."
          while ($true) {
            Write-Host "Still running..."
            Start-Sleep -Seconds 60   # اطبع كل دقيقة
          }
